rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Study materials folder - anyone can read and write (for admin panel with password auth)
    match /study_materials/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
